################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/a1/kit361-c/Debug
/a1/kit361-c/x64/Debug
/a1/kit361-c/qtqt.vcxproj.user
/a1/kit361-c/qtqt.vcxproj.filters
/a1/kit361-c/qtqt.vcxproj
/a1/kit361-c/.vs/qtqt/v14
/a1/kit361-c/qtqt.sln
*.opendb
*.db
/a1/kit361-c/qtqt.pro.user.ID9324
